{% include 'admin_header.html' %}

<div class="card">
    <center>
    <h1 class="card-title">Donor Information</h1>
</center>   
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Blood Type</th>
                        <th>Phone</th>
                        <th>Address</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in docview %}
                        <tr>
                            <td>{{ i.full_name }}</td>
                            <td>{{ i.email }}</td>
                            <td>{{ i.blod_type }}</td>
                            <td>{{ i.phone }}</td>
                            <td>{{ i.address }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% include 'footer.html' %}
