<!DOCTYPE html>
<html lang="zxx">

<head>
    {% include 'user_header.html' %}
    <title>New Password</title>

    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Google fonts -->
    <link href="//fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap" rel="stylesheet">

    <!-- CSS Stylesheet -->
    <link rel="stylesheet" href="/static/forgot/css/style.css" type="text/css" media="all" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>

<body>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                <h1 class="text-center">New Password</h1>
            </div>
            <div class="card-body">
                <form action="#" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="np">New Password</label>
                        <div class="input-group">
                            <span><i class="fas fa-user" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" id="np" placeholder="New Password" name="np"
                                required="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cp">Confirm Password</label>
                        <div class="input-group">
                            <span><i class="fas fa-key" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" id="cp" placeholder="Confirm Password"
                                name="cp" required="">
                        </div>
                    </div>
                    <button class="btn btn-primary btn-block" name="new_p" type="submit">Change Password</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS and Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- fontawesome v5-->
    <script src="/static/forgot/js/fontawesome.js"></script>
    

</body>

</html>

{% include 'footer.html' %}