{% include 'user_header.html' %}
<center>
    <h1>Register As Donor</h1>
    <form method="post">
        {% if user_up%}

        <table class="table table-striped" style="width: 1200px;">
            <tr>
                <th>Full Name</th>
                <td><input type="text" name="name" value={{user_up.Full Name}} required class="form-control"></td>
            </tr>
            <tr>
                <th>Email</th>
                <td> <input type="email" name="email" value={{user_up.Email}} required class="form-control"></td>
            </tr>
            <tr>
                <th>Phone</th>
                <td> <input type="text" pattern="[0-9]{10}" name="phone" value={{user_up}} required class="form-control"></td>
            </tr>
            <tr>
            <th>Address</th>
            <td> <textarea name="address" value{{user_up}} required class="form-control">
            <tr>
                <th>Blood group</th>
                <select name="blood group" id="blood group" class="form-control">
                        <option value="A+">A+</option>
                        <option value="A-">A-</option>
                        <option value="B+">B+</option>
                        <option value="B-">B-</option>
                        <option value="O+">O+</option>
                        <option value="O-">O-</option>
                        <option value="AB+">AB+</option>
                        <option value="AB-">AB-</option>
            
                    </select>
            {% comment %} <tr>
                <th>Password</th>
                <td><input type="password" name="password" value={{donor_up}} required class="form-control">
            </tr> {% endcomment %}
            <tr>
                <td align="center" colspan="2"> <input type="submit" value="Register" style="width: 200px;" class="btn btn-primary"></td>
            </tr>
            
        </table>
        {% endif %}

       
    </form>
</center>


    {% include 'footer.html' %}
