{% include 'public_header.html' %}
<center>
    <h1>Register As User</h1>
    <form method="post">

        <table class="table table-striped" style="width: 1200px;">
            <tr>
                <th>Full Name</th>
                <td><input type="text" name="name" oninput="validateName" required class="form-control"></td>
                <td><span id="nameError"></span></td>
            </tr>
            <tr>
                <th>Email</th>
                <td> <input type="email" name="email" oninput="validateEmail" required class="form-control"></td>
                <td><span id="emailError"></span></td>
            </tr>
            <tr>
                <th>Blood Type:</th>
                <td>
                    <select name="blood_type" required class="form-control">
                        <option value="A+">A+</option>
                        <option value="A-">A-</option>
                        <option value="B+">B+</option>
                        <option value="B-">B-</option>
                        <option value="O+">O+</option>
                        <option value="O-">O-</option>
                        <option value="AB+">AB+</option>
                        <option value="AB-">AB-</option>
            
                    </select>
                </td>

            </tr>
            <tr>
                <th>Phone</th>
                <td> <input type="text" pattern="[0-9]{10}" name="phone" oninput="validatePhone" required class="form-control"></td>
                <td><span id="phoneError"></span></td>
            </tr>
            <tr>
                <th>Address</th>
                <td> <textarea name="address" required ></textarea></td>
            </tr>
            <tr>
                <th>Password</th>
                <td><input type="password" name="password" oninput="validatePassword" required class="form-control"></td>
                <td><span id="passwordError"></span></td>
            </tr>
            <tr>
                <td align="center" colspan="2"> <input type="submit" value="Register" style="width: 200px;" class="btn btn-primary"></td>
            </tr>
            <p>Already have an account?<a href={% url 'login_form' %}>Login</a></p>
            
        </table>

    </form>
    
</center>
<script>
    //function validateFullName() {
        //const fullNameInput = document.getElementById('fullName');
        //const fullNameError = document.getElementById('fullNameError');
        //const fullNamePattern = /^[A_Z][a-z]*$/;

        //if (!fullNamePattern.test(fullNameInput.value)) {
            //fullNameError.textContent = 'Fullname must start with an uppercase letter and contain only letters.';
       // } else {
            //fullNameError.textContent = '';
       // }
    //}

    function validateName() {
        const nameInput = document.getElementById('name');
        const nameError = document.getElementById('nameError');
        const namePattern = /^[A-Z][a-zA-Z]*$/;

        if (!namePattern.test(nameInput.value)) {
            nameError.textContent = 'Name must start with a capital letter and contain only alphabets.';
        } else {
            nameError.textContent = '';
        }
    }

    document.getElementById("nameForm").addEventListener("submit", function(event) {
        event.preventDefault();
        validateName();
    });










    //Email validation
    function validateEmail() {
        const emailInput = document.getElementById('email');
        const emailError = document.getElementById('emailError');
        const emailPattern = /^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$/;

        if (!emailPattern.test(emailInput.value)) {
            emailError.textContent = 'Invalid email address.';
        } else {
            emailError.textContent = '';
        }
    }

    //Phone validation
    function validatPhone() {
        const phoneInput = document.getElementById('phone');
        const phoneError = document.getElementById('phoneError');
        const phonePattern = /^[1-9]\d{9}$/;

        if (!phonePattern.test(phoneInput.value)) {
            phoneError.textContent = 'phone number must be 10 digits and cannot starts with 0.';'
        } else {
            phoneError.textContent = '';
        }
    }
    //Password validation
    function validatePassword() {
        const passwordInput = document.getElementById('password');
        const passwordError = document.getElementById('passwordError');
        const passwordPattern = /^(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*])[A-Za-z\d!@#$%^&*]{8,}$/;

        if (!passwordPattern.test(passwordInput.value)) {
            passwordError.textContent = 'Password must contain at least one uppercase letter, one number and one special character (!@#$%^&*).';
        } else {
            passwordError.textContent = '';
        }
    }

    function validateForm() {
        return true;
    }
</script>


    {% include 'footer.html' %}
